<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(app/assets/images/main_background.jpg);">
  <div class="container">
    <h1>My movies list</strong>!</h1>
    <p>Change your life and watch movies around the world.</p>
    <a class="btn btn-flat" href="#">Watch now</a>
  </div>
</div> %>

<div class="banner" style="background-image: url('<%= image_path('main_background.jpg') %>');">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class=container>
  <h1>All Lists</h1>
  <div class="lists-main-page">
    <ul> <% @lists.each do |list| %>
      <li> <%= link_to list.name, list_path(list) %></li>
    <% end %>
    </ul>
  </div>
  <%= link_to "New List", new_list_path %>
</div>
