<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/Geepgu8bCas);">
  <div class="container">
    <h1>My movies list</strong>!</h1>
    <p>Change your life and watch movies around the world.</p>
    <a class="btn btn-flat" href="#">Watch now</a>
  </div>
</div>

<div class=container>
  <h1>All Lists</h1>
  <div class="lists-main-page">
    <ul> <% @lists.each do |list| %>
      <li> <%= link_to list.name, list_path(list) %></li>
    <% end %>
    </ul>
  </div>
  <%= link_to "New List", new_list_path %>
</div>
