<div class=container>
  <h1>All Lists</h1>
  <div class="lists-main-page">
    <ul> <% @lists.each do |list| %>
      <li> <%= link_to list.name, lists_path(list) %></li>
    <% end %>
    </ul>
  </div>
  <%= link_to "New List", new_list_path %>
</div>
